body {
  margin: 0;
  padding: 0;
}

.ar-banner {
  &__content {
    overflow: hidden;

    font-family: 'Horror Story', 'Mystery Quest', cursive;
    font-weight: bold;
    background-color: #333;
    color: white;
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);

    // full height block
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  &__title {
    font-size: 3em;
    font-weight: bold;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
    line-height: 100%;
    text-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.2);

    @keyframes neon {
      from {
        text-shadow: 0 0 0.5em 0.1em rgba(0, 0, 255, 0.8);
        color: #00f;
      }
      to {
        text-shadow: 0 0 0.5em 0.1em rgba(255, 0, 255, 0.8);
        color: #f0f;
      }
    }

    @keyframes move {
      from {
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
      }
      to {
        transform: translateX(25%) translateY(25%) rotate(720deg) scale(1.5);
      }
    }

    animation: neon 2s ease-in-out infinite alternate, move 2s ease-in-out;
  }
}
