.cian {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;

  @media (min-width: 43.75em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60.25em) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__photos {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 3fr 1fr;
    gap: 1em;

    list-style-type: none;
    margin: 0;
    padding: 0;

    img {
      background-color: whitesmoke;
      min-height: 2em;
      min-width: 1em;
      width: 100%;
      object-fit: cover;
      display: block;
    }

    li:first-child {
      grid-column: 1/4;
      grid-row: 1/2;
    }
  }
  &__link {
    color: #0368ff;
    text-decoration-line: none;

    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 0.25em;
      text-decoration-color: #3486ff;
    }
  }
  &__description {
    strong {
      font-weight: bold;
    }
  }
  &__tags {
    margin: 1em 0;
    padding: 0;

    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;

    li {
      background-color: #e5efff;
      padding: 0.1em 0.5em;
      border-radius: 0.1em;

      &:hover {
        background-color: #3486ff;
        a {
          color: white;
        }
      }
    }
  }
  &__sub-text {
    color: grey;
    font-family: var(--sans-serif);
    font-style: normal;
  }

  &__seller {
    background-color: #f1f2f4;
    padding: 2em 1em;
    max-width: 15em;

    img {
      min-width: 1em;
      min-height: 1em;
      background-color: grey;
    }

    .upper {
      text-transform: uppercase;
    }

    .bold {
      font-weight: bold;
    }
  }

  &__button {
    appearance: none;
    border: thin solid blue;
    background-color: #0567ff;
    color: white;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    text-align: center;
    display: block;
    width: 100%;
    margin: 1em 0;

    &:hover {
      box-shadow: 0.5em 0.5em black;
      cursor: pointer;
    }

    &_secondary {
      background-color: #dbe4f5;
      color: #0068ff;
      border-color: #dbe4f591;
    }
  }
}
