.dino {
  columns: 1;
  background-color: #fbfbf6;
  color: #3c3d31;

  @media screen and (min-width: 43.75em) {
    columns: 2;
  }

  figure {
    border: thin solid black;
    padding: 1em 1.5em;
    break-inside: avoid;
    position: relative;
  }
}
