@font-face {
  font-family: 'Montserrat';
  src: url(/src/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
      format('truetype'),
    url(/src/fonts/Montserrat/static/Montserrat-Regular.ttf) format('truetype');
  font-weight: 100 900;
}
