body,
div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
q,
figcaption,
cite,
i,
em,
b,
strong,
button,
p:first-line,
p:first-letter {
  font-weight: var(--text-wght);
  font-style: normal;
  font-variation-settings: 'wght' var(--text-wght), 'ital' var(--text-ital);
}

/* Generic header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif);
  font-weight: normal;
  transition: all linear 0.2s;

  /* Set --text-wght value multiplier */
  --text-wght: calc(var(--p-vf-wght) * var(--vf-wght-multiplier-s));
  --text-ital: 0;

  font-family: var(--sans-serif);
  font-size: calc(var(--font-size-min) * 1em);
  line-height: var(--line-height-min);
  margin: 1rem auto;
  max-width: 50rem;
  @media screen and (min-width: 24.15em) {
    line-height: calc(
      (var(--line-height-min) * 1em) +
        (var(--line-height-max) - var(--line-height-min)) *
        (
          (100vw - (var(--bp-small) * 1em)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
    font-size: calc(
      (var(--font-size-min) * 1em) +
        (var(--font-size-max) - var(--font-size-min)) *
        (
          (100vw - (var(--bp-small) * 1em)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
  }
  @media screen and (min-width: 43.75em) {
    --text-wght: calc(var(--p-vf-wght) * var(--vf-wght-multiplier-m));
    max-width: 60rem;
  }
  @media screen and (min-width: 60.25em) {
    --text-wght: calc(var(--p-vf-wght) * var(--vf-wght-multiplier-l));
    line-height: var(--line-height-max);
    max-width: 70rem;
  }
  @media (min-width: 75em) {
    font-size: calc(var(--font-size-max) * 1em);
    line-height: var(--line-height-max);
    max-width: 75rem;
  }
}

h1 {
  --vf-wght-multiplier-s: var(--h1-vf-wght-multiplier-s);
  --font-size-min: var(--h1-font-size-min);
  --line-height-min: var(--h1-line-height-min);
  --line-height-max: var(--h1-line-height-max);
  --font-size-max: var(--h1-font-size-max);
  --vf-wght-multiplier-m: var(--h1-vf-wght-multiplier-m);
  --vf-wght-multiplier-l: var(--h1-vf-wght-multiplier-l);
}

h2 {
  --vf-wght-multiplier-s: var(--h2-vf-wght-multiplier-s);
  --font-size-min: var(--h2-font-size-min);
  --line-height-min: var(--h2-line-height-min);
  --line-height-max: var(--h2-line-height-max);
  --font-size-max: var(--h2-font-size-max);
  --vf-wght-multiplier-m: var(--h2-vf-wght-multiplier-m);
  --vf-wght-multiplier-l: var(--h2-vf-wght-multiplier-l);
}

h3 {
  --vf-wght-multiplier-s: var(--h3-vf-wght-multiplier-s);
  --font-size-min: var(--h3-font-size-min);
  --line-height-min: var(--h3-line-height-min);
  --line-height-max: var(--h3-line-height-max);
  --font-size-max: var(--h3-font-size-max);
  --vf-wght-multiplier-m: var(--h3-vf-wght-multiplier-m);
  --vf-wght-multiplier-l: var(--h3-vf-wght-multiplier-l);
}

img {
  height: auto;
  max-width: 100%;
}

.ar-link {
  height: 2em;
  width: 2em;
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('../images/arkit-glyph.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #ffffffba;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.5), 0.25em 0.25em black;
    cursor: pointer;
  }
}
