.halloween-text {
  padding: 0.5em 0.25em;
  margin: 0;
  display: block;

  color: white;
  font-family: var(--sans-serif);
}
.halloween {
  background-color: black;
  min-height: 100vh;

  a {
    text-decoration: none;
    color: inherit;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-skip: edges;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.05em;

    &:hover {
      text-decoration-style: solid;
      text-decoration-thickness: 0.4em;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1em;

    list-style-type: none;
    padding: 0;
    margin: 0;

    @media (min-width: 43.75em) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 60.25em) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      position: relative;
    }
  }

  &__image {
    width: auto;
    height: 20em;
    display: block;
    background-color: white;
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }

  &__heading {
    @extend .halloween-text;

    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }

  &__paragraph {
    @extend .halloween-text;
  }

  &__price {
    @extend .halloween-text;

    text-align: center;
    color: gold;
  }
}
