@import './fonts.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  p {
    hanging-punctuation: first force-end last;
    white-space: unset;
    text-wrap: balance;
  }
}

@layer utilities {
  .width-100 {
    @apply mx-auto 
    max-w-xl sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-5xl;
  }
}
