.school {
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;

    list-style-type: none;
    padding: 0;
    margin: 0;

    @media (min-width: 43.75em) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 60.25em) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__image {
    width: auto;
    height: 20em;
    display: block;
    background-color: white;
    display: block;
    object-fit: cover;
    margin: 0 auto;

    position: relative;

    img {
      max-height: 100%;
      max-width: 100%;

      object-fit: cover;
      width: 100%;
    }

    &:hover img {
      object-fit: contain;
    }
  }

  &__discount {
    --bg-color: #f63d01;
    --bg-color: rgb(85.95% 36.95% 0%);
    --bg-color: color(display-p3 0.8822 0.3177 0);
    --bg-color: color(rec2020 0.8822 0.3177 0);
    --bg-color: lch(55.939% 132 54);

    background-color: var(--bg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 0.25em 1em 0.25em 0.5em;

    &::after {
      content: '';
      background-color: var(--bg-color);
      transform: skew(160deg);

      display: block;
      position: absolute;
      right: -0.5em;
      bottom: 0;
      height: 100%;
      width: 1em;
    }
  }

  &__price {
    display: block;
    padding: 0.5em 1em;

    bold {
      font-weight: bold;
    }
    strike {
      text-decoration-line: line-through;
    }
  }
}
